.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.question-form-container {
  max-width: 800px;
  min-height: 500px;
  width: 100%;
  border: #ececec solid 2px;
  padding: 20px 20px 40px;
  background-color: white;
  border-radius: 8px;
}
.user-info {
  display: flex;
  align-items: center;
}
.username {
  font-family: "livvic-m";
}
.title {
  border: 0;
  outline: 0;
  font-family: livvic-m;
  font-size: 22px;
  margin: 10px 0 20px;
}
.title::placeholder {
  color: #000;
}
.form-body-header {
  font-weight: bold;
}
.form-body-sub-header {
  color: gray;
  font-size: 13px;
  margin: 3px 0 5px;
}
.editor-container {
  width: 100%;
  height: 100%;
  border: #ececec solid 2px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.editor-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}
.editor-header1-right {
  display: flex;
  align-items: center;
}
.undo-redo {
  margin-right: 15px;
}
.fa-undo,
.fa-redo {
  margin: 0 5px;
}
.hide-tips {
  padding: 5px 10px;
  border-radius: 3px;
}
.action-icon {
  margin-right: 15px;
}
.editor-header2 {
  display: flex;
  align-items: center;
  background-color: #ececec;
  padding-left: 15px;
  height: 30px;
  margin: 3px 0;
}
.editor-header2 li {
  list-style: none;
  margin-right: 15px;
  font-family: "livvic-m";
}
.editor {
  padding: 15px;
  min-height: 300px;
  background: #e8f0fe;
}
.body-input {
  background: #e8f0fe;
  display: flex;
  width: 100%;
  outline: 0;
  border: 0;
}
.tags-input {
  border: #ececec solid 2px;
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  outline: 0;
  padding: 15px;
  background: #e8f0fe;
}
.post-button {
  padding: 10px 25px;
  border-radius: 20px;
}
.error {
  color: red;
  margin-bottom: 20px;
}
