@font-face {
  font-family: livvic-b;
  src: url("./Fonts/Livvic-Bold.ttf");
}
@font-face {
  font-family: livvic-s;
  src: url("./Fonts/Livvic-SemiBold.ttf");
}
@font-face {
  font-family: livvic-m;
  src: url("./Fonts/Livvic-Medium.ttf");
}
@font-face {
  font-family: livvic-r;
  src: url("./Fonts/Livvic-Regular.ttf");
}

/* all tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

/* html and body tags */
html,
body {
  position: relative;
  min-height: 100vh;
}
html {
  display: flex;
  justify-content: center;
}
body {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  font-family: "livvic-r";
}
